/*
Copyright 2010, KISSY UI Library v1.0.4
MIT Licensed
build: 480 Mar 11 14:06
*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}#page,#header,#content,#footer{margin-left:auto;margin-right:auto;}.w950{width:950px;}.col-main{float:left;width:100%;min-height:1px;}.col-sub,.col-extra{float:left;}.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after{content:'\20';display:block;height:0;clear:both;}.layout,.main-wrap,.col-sub,.col-extra{*zoom:1;}
body { font-family: arial; }


/************************************/
/* console style */

body {
    background: #243f59;
}

#main {
    margin: 10px 10px 10px;
}
h1 {
    color: #fff;
    font: bold 26px/1.2 arial;
    text-shadow: 3px 3px 3px #333;
    padding: 8px 0 18px 3px;
}
h1 sup {
    position: absolute;
    margin-top: -10px;
    margin-left: 6px;
    font-size: 12px;
    text-shadow: 0 0 0;
    font-weight: normal;
}

#input {
    border-radius: 3px;
    border: 3px solid #1b2f43;
    width: 608px;
}
#input .input {
    border: 1px solid #122537;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
#command {
    width: 600px;
    background: #32577b;
    color: #fff;
    font-size: 20px;
    padding: 3px 3px;
    border: none;
    border-radius: 3px 3px 0 0;
}
#browser-list {
    background: #1b2f43;
    padding: 3px 4px 0;
    color: #fff;
    font-size: 12px;
}
#browser-list b {
    color: #70a4d6;
}

#output {
    margin-top: 30px;
}
.task {
    margin-bottom: 10px;
    background: #1b2f43;
    padding: 3px;
    border-radius: 5px;
    position: relative;
}
.task h3 {
    background: #a18c11;
    color: #f9f289;
    margin-bottom: 6px;
    padding: 0 3px;
    border-radius: 3px;
}
.task h3 a.more {
    display: none;
    float: right;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}
.task h3 a.more:hover {
    text-decoration: none;
    color: #d3d3d3;
}
.task-bd {
    overflow: hidden;
}
.task p.browser {
    float: left;
    width: 80px;
    height: 40px;
    border: 2px solid #d3d3d3;
    overflow: hidden;
    margin-right: 3px;
    text-align: center;
    background: #d3d3d3;
    border-radius: 3px;
}
.task p.browser b {
    display: block;
    background: rgba(0, 0, 0, .3);
    color: #000;
}
.task p.browser.browser-running {
    background: #b8860b;
    border-color: #b8860b;
    color: #fff;
}
.task p.detail {
    display: block;
    clear: both;
    float: none;
    position: absolute;
    right: 6px;
    top: 3px;
}
.task p.detail a {
    color: #fff;
    font-size: 12px;
}
.task p.browser.browser-passed {
    background: green;
    color: #fff;
    border-color: green;
}
.task p.browser.browser-failed {
    background: red;
    color: #fff;
    border-color: red;
}
.task-execScript h3 {
    background: #8b0000;
    color: #e3a7a7;
}
.task-help h3 {
    background: #a0bc25;
    color: #fff;
}
p.js {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 120px;
    position: relative;
}
p.js span {
    position: absolute;
    left: 0;
    top: 4px;
    line-height: 14px;
    background: #ccc;
    font-weight: bold;
    border-radius: 3px;
}
p.js b {
    font-weight: normal;
    color: #fff;
}
p.tips a {
    color: #70a4d6;
}
p.tips a:hover {
    color: #fff;
}
p.tips {
    color: #fff;
}

/**
 * Queue
 */
#queue {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, .2);
}
#queue li:first-child {
    background: green;
}

/**
 * Group
 */
#group {
    display:none;
    background: #fff;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #333;
}
#group-hd {
    height: 40px;
    overflow: hidden;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
#group-hd a {
    float: left;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}
#group-hd a.active {
    color: red;
}
#group-form {
    padding: 20px;
}
#group-form div {
    position: relative;
    padding-left: 100px;
    margin-bottom: 10px;
}
#group-form label {
    position: absolute;
    left: 0;
    top: 0;
}
#group-form-fragment {
    display: none;
}

#group .group {
    position: relative;
    border:  1px solid #ccc;
}
#group .group:hover {
    border-color: #000;
}
#group .group-action {
    position: absolute;
    right: 10px;
    top: 1px;
}
#group .group-action a {
    margin-left: 6px;
}
#group .command-remove {
    margin-left: 6px;
}
